@*@{
//ViewBag.Title = "Home Page";
//Layout = "~/Views/Shared/_Layout.cshtml";
}*@


首页
<html>
<head>
    <title></title>
    
</head>
<body>
    <div id="app"></div>
    @*<script src="/static/dist/js/lib.js"></script>*@
    <script src="/static/dist/js/index.js"></script>
</body>
</html>