@*@{
//ViewBag.Title = "Home Page";
//Layout = "~/Views/Shared/_Layout.cshtml";
}*@


首页
<html>
<head>
    <title></title>
    <script src="~/static/dist/index.js"></script>
</head>
<body>
</body>
</html>